/*source: https://www.w3schools.com/howto/howto_css_image_center.asp*/
a:active, a:focus, a:hover, a:visited, a {
  text-decoration: none;
  color: black;
}

.menu__dishes#desserts, .menu__dishes#main_dish, .menu__dishes#entrees {
  animation-name: showDish;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*https://programmersportal.com/how-to-hide-a-div-after-5-seconds-in-css/*/
@keyframes hideMe {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes showDish {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
/*https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Roboto;
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  animation: hideMe 3s forwards;
}
.loading__spinner {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50%;
  border-top: 5px solid green;
  border-bottom: 5px solid red;
  animation: loading 0.5s ease infinite;
}

header {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
header .logo {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
header .fa-arrow-left {
  text-indent: 20px;
  text-decoration: none;
  color: black;
}

.fore-image {
  margin-top: 10px;
  object-fit: cover;
  height: 270px;
  width: 100%;
}

.location {
  display: flex;
  margin-top: 10px;
  padding: 20px 0;
  background-color: rgb(234, 234, 234);
  border-top: 3px solid gainsboro;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
}

.booking {
  display: flex;
  flex-direction: column;
  background-color: rgb(246, 246, 246);
  text-align: center;
}
.booking p {
  font-size: 19px;
  font-weight: lighter;
}
.booking button {
  margin: 15px auto;
  height: 40px;
  cursor: pointer;
  border-radius: 30px;
  padding: 0 10px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  width: 50%;
}
.booking button:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
}

.howItWorks {
  padding: 0 20px;
}
.howItWorks__options {
  display: flex;
  flex-direction: column;
}
.howItWorks__options__option {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f6f6f6;
  font-size: 16px;
  cursor: pointer;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 5px rgb(232, 232, 232);
}
.howItWorks__options__option .material-symbols-sharp {
  position: relative;
  left: -20px;
  color: gray;
  align-self: center;
}
.howItWorks__options__option .material-symbols-sharp--purple {
  position: relative;
  left: -20px;
  color: #9356DC;
  align-self: center;
}
.howItWorks__options__option .counter-circle {
  position: relative;
  left: -23px;
  top: 2px;
  align-self: center;
}
.howItWorks__options__option .counter-circle .material-symbols-sharp {
  color: #9356DC;
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 70px;
  padding-bottom: 50px;
}
.restaurants-container h2 {
  padding-top: 20px;
  text-indent: 3%;
}
.restaurants-container__restaurants {
  display: flex;
  flex-direction: column;
  padding: 0px 3%;
  gap: 20px;
}
.restaurants-container__restaurants__restaurant {
  height: 220px;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 5px 5px rgb(232, 232, 232);
}
.restaurants-container__restaurants__restaurant__image {
  height: 150px;
  width: 100%;
}
.restaurants-container__restaurants__restaurant__image img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.restaurants-container__restaurants__restaurant__image .new {
  position: relative;
  left: calc(100% - 90px);
  top: -135px;
  padding: 2px 20px;
  background: #99E2D0;
  color: rgb(0, 135, 102);
}
.restaurants-container__restaurants__restaurant__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -5px;
  padding: 0 10px;
}
.restaurants-container__restaurants__restaurant__bottom-container p {
  position: relative;
  top: -20px;
  font-size: 14px;
}
.restaurants-container__restaurants__restaurant__bottom-container .heart {
  display: grid;
  position: relative;
  top: -5px;
  left: -19px;
  height: 24px;
  width: 24px;
  overflow: visible;
}
.restaurants-container__restaurants__restaurant__bottom-container .heart .far {
  grid-column: 1;
  grid-row: 1;
  cursor: pointer;
  height: 24px;
  width: 24px;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease;
}
.restaurants-container__restaurants__restaurant__bottom-container .heart .far:active {
  opacity: 0;
}
.restaurants-container__restaurants__restaurant__bottom-container .heart .fas {
  opacity: 0;
  grid-column: 1;
  grid-row: 1;
  cursor: pointer;
  height: 24px;
  width: 24px;
  /*Source:https://stackoverflow.com/questions/65774048/how-to-add-a-gradient-color-to-an-icon-with-no-border*/
  -webkit-background-clip: text; /*Cuts the heart icon out from the whole image*/
  background-image: linear-gradient(#9356DC, #FF79DA); /*Colors the heart*/
  -webkit-text-fill-color: transparent; /*Makes the transparent color of black the abover color*/
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease;
}
.restaurants-container__restaurants__restaurant__bottom-container .heart .fas:active {
  opacity: 1;
}

.menu {
  position: relative;
  top: -65px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  margin-bottom: -65px;
}
.menu__restaurant-logo {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}
.menu__restaurant-logo h2 {
  font-family: Shrikhand;
  margin-right: 45px;
}
.menu__restaurant-logo .fa-heart {
  position: relative;
  top: 35px;
}
.menu__dishes {
  padding: 20px 0;
}
.menu__dishes .category {
  text-indent: 20px;
}
.menu__dishes .partial-underline {
  position: relative;
  border: 1px solid #99E2D0;
  width: 40px;
  left: 19px;
}
.menu__dishes__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menu__dishes__wrapper__dish {
  display: flex;
  align-items: center;
  margin: 15px 15px 0 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 5px 5px rgb(232, 232, 232);
  overflow: hidden;
}
.menu__dishes__wrapper__dish__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 15px 0 15px 10px;
  flex-basis: 100%;
  margin-right: -65.6px;
  transition-property: margin-right;
  transition-duration: 0.3s;
  transition-delay: 0.01s;
}
.menu__dishes__wrapper__dish__container .main {
  font-size: 19px;
  font-weight: 600;
}
.menu__dishes__wrapper__dish__container .side {
  font-size: 13.5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__dishes__wrapper__dish .cost {
  align-self: last baseline;
  transform: translateX(65.6px);
  font-size: 13.5px;
  min-width: 35px;
  padding: 15px 0;
  margin-right: 17px;
  margin-left: 6px;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.01s;
}
.menu__dishes__wrapper__dish .cost .fa-euro-sign {
  font-size: 13px;
}
.menu__dishes__wrapper__dish .selected {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0px 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #99E2D0;
  transform: translateX(65.6px);
  transition-property: transform;
  transition-duration: 0.4s;
}
.menu__dishes__wrapper__dish .selected .fa-solid.fa-circle-check {
  color: #fff;
  border-radius: 50%;
}
.menu__dishes__wrapper__dish:active > .menu__dishes__wrapper__dish__container {
  margin-right: 0;
}
.menu__dishes__wrapper__dish:active > .cost {
  transform: translateX(0);
}
.menu__dishes__wrapper__dish:active > .selected {
  transform: translateX(0);
}
.menu__dishes__wrapper__dish:active > .selected .fa-solid.fa-circle-check {
  animation-name: spin;
  animation-duration: 0.4s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
.menu__dishes#entrees {
  animation-delay: 1s;
}
.menu__dishes#main_dish {
  animation-delay: 1.5s;
}
.menu__dishes#desserts {
  animation-delay: 2s;
}
.menu .button-container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
.menu .button-container button {
  width: 42%;
  height: 40px;
  border-radius: 22px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
}
.menu .button-container button:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
}

footer {
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
footer .footer-logo {
  width: 30%;
  margin: 30px 0 20px 5%;
  filter: invert(100%);
}
footer .suggest-a-restaurant {
  margin-top: 10px;
  margin-left: 5%;
  filter: invert(100%);
}
footer .suggest-a-restaurant span {
  margin-left: 8px;
  font-size: medium;
  cursor: pointer;
}
footer .become-a-partner {
  margin-top: 10px;
  margin-left: 5%;
  filter: invert(100%);
}
footer .become-a-partner span {
  margin-left: 3px;
  font-size: medium;
  cursor: pointer;
}
footer .legal {
  margin-top: 10px;
  margin-left: 5%;
  filter: invert(100%);
}
footer .legal span {
  margin-left: 3px;
  font-size: medium;
  cursor: pointer;
}
footer .contact {
  margin-top: 10px;
  margin-left: 5%;
  filter: invert(100%);
  margin-bottom: 10px;
}
footer .contact a {
  margin-left: 3px;
  font-size: medium;
  cursor: pointer;
}
footer #email {
  margin-left: 5%;
  filter: invert(100%);
  display: none;
  margin-bottom: 10px;
}
footer #email:target {
  display: block;
}
footer #email span {
  margin-left: 3px;
  font-size: medium;
}
footer #email span .email_link {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 640px) {
  .restaurants-container__restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants-container__restaurants__restaurant {
    flex-basis: 48%;
    gap: 22px 22px;
  }
  .restaurants-container__restaurants__restaurant .heart .far:hover {
    opacity: 0;
  }
  .restaurants-container__restaurants__restaurant .heart .fas:hover {
    opacity: 1;
  }
  .menu__dishes__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu__dishes__wrapper__dish {
    flex-basis: 45%;
    height: fit-content;
  }
  .menu__dishes__wrapper__dish:hover > .menu__dishes__wrapper__dish__container {
    margin-right: 0;
  }
  .menu__dishes__wrapper__dish:hover > .cost {
    transform: translateX(0);
  }
  .menu__dishes__wrapper__dish:hover > .selected {
    transform: translateX(0);
  }
  .menu__dishes__wrapper__dish:hover > .selected .fa-solid.fa-circle-check {
    animation-name: spin;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
}
@media (min-width: 1024px) {
  .restaurants-container__restaurants {
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants-container__restaurants__restaurant {
    flex-basis: 30%;
  }
  .howItWorks__options {
    flex-direction: row;
    justify-content: space-between;
  }
  .howItWorks__options__option {
    flex-basis: 30%;
  }
  .menu__dishes__wrapper__dish {
    flex-basis: 30%;
    height: fit-content;
  }
}
@media (min-width: 1280px) {
  .restaurants-container__restaurants {
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants-container__restaurants__restaurant {
    flex-basis: 23%;
  }
  .howItWorks__options {
    flex-direction: row;
    justify-content: space-between;
  }
  .howItWorks__options__option {
    flex-basis: 30%;
  }
  .menu__dishes__wrapper__dish {
    flex-basis: 22%;
    height: fit-content;
  }
}/*# sourceMappingURL=styles.css.map */